<%- include("partials/header") %>
<h1>Sign UP</h1>

<form class="" action="/register" method="post">
  <input type="text" name="username" value="username">
  <input type="password" name="password" value="password">
  <input type="submit" name="submit" value="Login">
</form>

<%- include("partials/footer") %>
